.container{
	view,text,image{
		box-sizing: border-box;
	}
	.scroll-view_H{
		width: 100%;
		white-space: nowrap;
		height: 118upx;
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 0 9upx;
		&::after{
			// background: #e5e5e5;
			// content: '';
			// display:block;
			// width: 100%;
			// height: 1px;
			// position: absolute;
			// bottom: 0;
			// left: 0;
			// transform:scaleY(0.5) 
		}
		.active-date{
			border: none!important;
			padding: 4rpx 0!important;
		}
		.other-time{
			width: 136upx!important;
		}
		.flex-box{
			display: inline-block;
			width: 83upx;
			height: 118upx;
			overflow: hidden;
			padding: 0;
			border-radius: 10upx;
			box-sizing: border-box;
			border: 4upx solid rgba(235,235,235,0.6);
			// margin-right: 22upx;
			&.active{
				// border-bottom: 4upx solid #0092D5;
				// box-shadow: inset 0 -4upx 0 0 #0092D5;
				.date-box{
					.days{
						color: #fff;
					}
					.date{
						color: #fff;
					}
				}
			}
			.date-box{	
				display: flex;
				height: 100%;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				font-size: 28upx;
				color: #333333;
				position: relative;
				.date-picker{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					z-index: 100;
					display: flex;
					height: 100%;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
				}
				.date{
					color: #999;
					font-size: 24upx;
					// margin-top: 10upx;
				}
			}
		}
		
	}
	.time-box{
		padding:28upx 0 26upx;
		// display: flex;
		// flex-wrap: wrap;
		.item{
			width: 25%;
			padding: 0 9upx;
			margin-bottom: 18upx;
			&-box{
				width: 100%;
				height: 60upx;
				padding:0 20upx;
				background: #fff;
				color: #666666;
				font-size: 28upx;
				border-radius: 10upx;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border: 4rpx solid #F6F6F6;
				box-sizing: border-box;
				&.disable{
					background: #F2F2F2 !important;
					color: #9f9f9f !important;
				}
				&.active{
					// background: #0094D7;
					color: #fff;
					font-weight: bold;
				}
				.all{
					font-size: 22upx;
				}
			}
		}
	}
	
}